version: "3"
services:
  auth:
    image: quay.io/keycloak/keycloak:21.0.1
    hostname: auth-keycloack
    container_name: auth-keycloack
    restart: always
    ports:
      - "8082:8080"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      #USUARIO_APP_CONTEXT_PATH: http://localhost:8081/cadastro-usuarios-geral
    command:
      - start-dev
      - --import-realm
    volumes:
      - /home/monteiro/workspace/auth-keycloack/target/api-autenticacao-1.0-SNAPSHOT.jar:/opt/keycloak/providers/api-autenticacao-1.0-SNAPSHOT.jar
      - /home/monteiro/workspace/auth-keycloack/realm-export.json:/opt/keycloak/data/import/realm-export.json
      - /home/monteiro/workspace/auth-keycloack/src/main/resources/themes/Proffy:/opt/keycloak/themes/Proffy
networks:
  rede_monteiro:
    driver: "bridge"